node_modules
.env
.TODO.txt
/.openzeppelin
Cookbook.txt

# Hardhat files
/cache
/artifacts
/ignition

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

/contracts/TimelockGuardUpgradeable_OLD.sol
/contracts/BaseTimelockGuard_OLD.sol
/Backup/**

secrets.json